 /* Browser Reset */
 * {
     margin: 0px;
     padding: 0px;
     border: 0px;
     box-sizing: border-box;
 }

 /* Root Colors */
 :root {
     --black: #000000;
     --beige: #fbf1de;
     --light-blue: #75C6E5;
     --yellow: #FFCF6A;
     --peach: #FF7D57;
     --olive: #8A8551;
     --white: #FFFFFF;
     --red: #BF390C;
     --dark-blue: #125483;
 }

 /* Font */
 h1 {
     font-family: 'DM Serif Text', serif;
     font-size: 96px;
     color: var(--dark-blue);
 }

 h2 {
     font-family: 'DM Sans', sans-serif;
     font-size: 48px;
     color: var(--black);
 }

 p {
     font-family: 'DM Sans', sans-serif;
     font-size: 18px;
     font-weight: 300;
     color: var(--black);
 }

 /* Basics */
 main {
     max-width: 2000px;
 }

 html,
 body {
     background-color: var(--beige);
     height: 100%;
 }


 /* Header */
 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: var(--peach);
     padding: 14px 60px;
 }

 /* Navigation */
 .nav-left,
 .nav-right {
     display: flex;
     gap: 10vw;
 }

 /* Schrift Header */
 header a {
     text-decoration: none;
     font-family: 'DM Sans', sans-serif;
     font-size: 20px;
     color: var(--beige);
 }

 /* Logo */
 .header-logo img {
     width: 60px;
     height: auto;
     object-fit: contain;
 }

 /* Hero */
 .hero {
     background-image: url("../Image/P4160308.jpg");
     height: 85vh;
     background-size: cover;
     background-position: center;
     color: white;
     text-align: center;
     padding: 8rem 2rem;
 }

 /* Ausstellung */
 .ausstellung-box {
     display: flex;
     gap: 60px;
     margin-top: 200px;
     margin-left: 10vw;
     margin-right: 10vw;
 }

 .ausstellung-bild img {
     width: 40vw;
     height: 40vh;
     object-fit: cover;
 }

 .ausstellung-text {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 20px;
 }

 /* Ausstellung Button */
 .button {
     display: inline-block;
     background-color: var(--peach);
     color: var(--beige);
     padding: 12px 32px;
     text-decoration: none;
     font-size: 16px;
     margin-top: 30px;
     width: fit-content;
     transition: all 0.2s;
     font-family: 'DM Sans', sans-serif;
     font-weight: 500;
 }

 .button:hover {
     transform: scale(1.1);
 }

 /* die Idee */
 .idee-box {
     display: flex;
     flex-direction: column;
     align-items: left;
     text-align: left;
 }

 /* Blauer Textblock */
 .idee-textblock {
     margin-top: 150px;
     margin-left: 0px;
     margin-right: 25vw;
     background-color: var(--dark-blue);
     color: var(--white);
     padding: 60px 0px;
     padding-right: 60px;
 }

 .idee-textblock p {
     color: var(--white);
     margin-top: 20px;
     margin-left: 10vw;
 }

 .idee-textblock h2 {
     color: var(--white);
     margin-left: 10vw;
 }

 /* Galerie */

 /* Galerie Bento Grid */

 .gallery-title {
    display: flex;
    justify-content: right;
     margin-top: 150px;
     margin-bottom: 20px;
 }

 #gallery {
     margin-top: 125px;
     margin-left: 10vw;
     margin-right: 10vw;
 }

 .bento-container-1 {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 60vh;
     grid-auto-flow: dense;
     width: 100%;
     gap: 20px;
     margin-bottom: 20px;
 }

 .project-item-c1 {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: bottom;
     grid-column: 1 / 2;
     grid-row: 1 / 2;
 }

 .project-item-c2 {
     width: 100%;
     height: 100%;
     object-fit: cover;
     grid-column: 2 / 3;
     grid-row: 1 / 2;
 }

 .bento-container-2 {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 50vh 50vh;
     grid-auto-flow: dense;
     width: 100%;
     gap: 20px;
     margin-bottom: 50px;
 }

 .project-item-1 {
     height: 100%;
     width: 100%;
     object-fit: cover;
     grid-column: 1 / 2;
     grid-row: 1 / 2;
 }

 .project-item-2 {
     height: 100%;
     width: 100%;
     object-fit: cover;
     grid-column: 2 / 3;
     grid-row: 1 / 3;
 }

 .project-item-3 {
     height: 100%;
     width: 100%;
     object-fit: cover;
     grid-column: 3 / 4;
     grid-row: 1 / 2;
 }

 .project-item-4 {
     height: 100%;
     width: 100%;
     object-fit: cover;
     grid-column: 1 / 2;
     grid-row: 2 / 3;
 }

 .project-item-5 {
     height: 100%;
     width: 100%;
     object-fit: cover;
     object-position: top;
     grid-column: 3 / 4;
     grid-row: 2 / 3;
 }